/*Large Blocks w/ Fixed Header CSS*/
@import url('https://fonts.googleapis.com/css?family=Bookman Old Style');

/*-----------------------------------------
root selector to create variables
CHANGE: h2-font-size
-------------------------------------------*/
:root {
    --header-color: red;
    --section1-color: blue;
    --section2-color: lightgray;
    --footer-color: green;
    --h2-text-color-light: white;
    --h2-text-color-dark: black;
    --nav-list-item-hover-color: white;
    --h2-font-size: 2rem;
    --nav-list-font-size: 1.2rem;
    --footer-list-font-size: .9rem;
}

/*-----------------------------------------
The html properites
NO CHANGES or ADDITIONS
------------------------------------------*/
html {
    background: #b3b3b3;
    height: 100%;
    text-align: center;
}

/*-----------------------------------------
The body properites
NO CHANGES or ADDITIONS
------------------------------------------*/
body {
    background: white;
    height: 100%;
    width: 100%;
    margin: 0;
}

/*-----------------------------------------
Set global properties for the <h2> tags
It also overrides the intrinsic margin of
20 to 0--allowing to stack the blocks together.
NO CHANGES or ADDITIONS
-------------------------------------------*/
h2 {
    margin: 0;
    font-size: var(--h2-font-size);
    color: var(--h2-text-color-light);
    padding: 6rem;
    text-align: center;
}

/*-----------------------------------------
The .header properites
CHANGES: position
ADDITION: z-index, display & justify-content
REMOVAL: .header h2 
------------------------------------------*/
.header {
    background: var(--header-color);
    width: 100%;
    height: 10%;
    position: fixed;  /*was relative*/
    z-index: 100;
    display: flex;
    justify-content: space-between;
}

/*-----------------------------------------
***NEW***
Sets all the properties for the font-based logo
------------------------------------------*/
.header-logo {
    font-family: "Bookman Old Style", sans-serif;
    font-size: 30px;
    font-weight: bolder;
    color: blue;
    text-shadow: 2px 2px 12px #000000;
    padding-left: 20px;
}

/*-----------------------------------------
***NEW***
Sets the properties for the first letter
of the font-based logo
------------------------------------------*/

.header-logo::first-letter {
    font-size: 150%;
    color: cornflowerblue;
}

/*-----------------------------------------
***NEW***
Sets properties for the nav-bar
introducing the flex property
------------------------------------------*/
.nav-list {
    list-style: none;
    margin-right: 30px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: var(--nav-list-font-size);
}

/*-----------------------------------------
***NEW***
Sets the properties for each
introducing the flex property
of the nav-bar items
------------------------------------------*/
.nav-list-item a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin: 8px 0;
    padding: 25px;
}

/*-----------------------------------------
***NEW***
Sets the color of the nav-bar
items when you hover
------------------------------------------*/
.nav-list-item a:hover,
.nav-list-item a:active {
    color: var(--nav-list-item-hover-color);
}

/*-----------------------------------------
***NEW***
Creates the blue button around the 'Sign In'
button.  -cta stands for 'Call To Action'
------------------------------------------*/
.nav-list-item-cta a {
    color: white;
    background: blue ;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

/*-----------------------------------------
The .section1 properites
ADDITION: top
------------------------------------------*/
.section1 {
    background: var(--section1-color);
    width: 100%;
    height: 40%;
    position: relative;
    top: 10%; /*Added to adjust the top position*/
}

/*-----------------------------------------
The .section2 properites
CHANGE: height
ADDITION: top
------------------------------------------*/
.section2 {
    background: var(--section2-color);
    width: 100%; 
    height: 50%;  /*Added 10% for scrolling*/
    position: relative;
    top: 10%; /*Added to adjust the top position*/
}

/*-----------------------------------------
This is another <h2> override setting 
the font color from white to black
------------------------------------------*/
.section2 h2 {
    color: var(--h2-text-color-dark);
}

/*-----------------------------------------
The .footer properites
ADDITION: top
------------------------------------------*/
.footer {
    background: var(--footer-color);
    width: 100%;
    height: 10%;
    position: relative;
    top: 10%; /*Added to adjust the top position*/
}

/*-----------------------------------------
This is another <h2> override
CHANGE: padding
------------------------------------------*/
.footer h2 {
    padding: 0;
}


