
/* Basic Blocks Custom App */
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre');
@import url('/font-awesome-4.6.3/css/font-awesome.min.css');

/*-----------------------------------------
:root selector for variables
-------------------------------------------*/
:root {
    --Header_background-color: whitesmoke; 
    --Header_hover-color:blue;
    --HeaderLogo-image: url( 'assets/images/formR-icon.jpg' );
    --HeaderLogo_margin: 0px 0px 0px 50px;
    --HeaderList-font-size: 1.1rem;
  
    --Section1_background-color: cornflowerblue;
    --Section1_background-image: url( 'assets/images/monaco-blue-soft-1.jpg' );
    --Section1Paragraph-font-color: whitesmoke;  
  
    --Section2-font-color: darkblue;  
    --Section2_background-color: whitesmoke;
    --Section2Paragraph-font-color: darkblue;  
    --Section2Paragraph_hover-color: blue;

    --Footer_background-color:whitesmoke; 
    --Footer_hover-color: blue;
    --FooterListFontSize: .9rem;  
    
    /*--GlobalFontFamily: "Roboto Slab";*/
    --GlobalFontFamily: "Frank Ruhl Libre";
    --GlobalMaxWidth: 950px;

    --CalloutIconCheck: "\f14a  \A"; /*checkbox*/
    --CalloutIconCheck: "\f0da  \A"; /*Right Arrow*/
    --CalloutIconCheck: "\f0a4  \A"; /*Right Hand Pointer*/
    --CalloutIconCheck: "\f105  \A"; /*Right Arrow*/
    --CalloutIconCheck: "\f328  \A"; /*Clip Board*/
    --CalloutIconCheck: "\f0ca  \A"; /*Bullets {<li>}*/
    --CalloutIconCheck: "\f064  \A"; /*Forward Arrow*/
    --CalloutIconCheck: "\f0ae  \A"; /*ToDo List*/
    --CalloutIconCheck: "\f35a  \A"; /*Right Arrow in Circles*/
    --CalloutIconFontFamily: "Font Awesome 5 Free";    

} 
/*------------------------------------------*/
* {                   /* reset all style */
    box-sizing: border-box;
    padding: 0;
    font-family: var(--GlobalFontFamily);
    font-size: 1rem;
  }

body {
  background-color: cornflowerblue;
  background-color: whitesmoke;
}
.container {            /* custom element style */
    padding: 0;
    margin: 0;
    height: 100vh;
    max-width: var(--GlobalMaxWidth);
    margin: auto;
    } 

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/*-----------------------------------------
The .Header properites
------------------------------------------*/
.Header {
    background: var(--Header_background-color);
    border-bottom: 0px #000 solid;
    width: 100%;
    height: 10%;
    top: 0;
    position: fixed;  /*was relative*/
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--GlobalMaxWidth);
}
/*------------------------------------------*/  
.HeaderSpacer {
      flex: 1;
  }
/* Header END^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
  
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/*-----------------------------------------
The .HeaderNavList (horizontal menu) properites
------------------------------------------*/
.HeaderNavList {
    list-style: none;
    margin-right: 30px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: var(--HeaderList-font-size);
}
/*------------------------------------------*/
.HeaderNavListItem a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin: 8px 0;
    padding: 25px;
}
/*------------------------------------------*/
.HeaderNavListItem a:hover,
.HeaderNavListItem a:active {
    color: var(--Header_hover-color);
}
/*------------------------------------------*/
.HeaderNavListItemCTA a {
    color: white;
    background: blue ;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}
/*------------------------------------------*/
.HeaderNavListItemCTA {
    animation     : wiggle 400ms 2s 8 ease-out none;
    }
  
/*-----------------------------------------
The @keyframes wiggle properties
------------------------------------------*/
  @keyframes wiggle {
      0% { transform: rotateZ(  0deg ); }
     50% { transform: rotateZ(-10deg ); }
    100% { transform: rotateZ( 10deg ); }
  }
/*------------------------------------------*/
.HeaderNavListItemCTA a:hover,
.HeaderNavListItemCTA a:active {
    color: var(--Header_hover-color);
    color: #C0C0C0;
}

/* Header Nav END ^^^^^^^^^^^^^^^^^^^^^^^^^^*/
  
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

.Logo {
  padding: 0px 0px 10px 0px;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/*-----------------------------------------
The .Section1 properites
------------------------------------------*/
.Section1 {
    background: var(--Section1_background-image);
    background-color: var(--Section1_background-color);
    /*
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    */
    border-bottom: 1px black solid;
    max-width: 100%;
    text-align: left;
    height: 30%;
    position: relative;
    top: 60px;
    overflow: auto;
    font-size: 1rem;
    font-weight: 600;
}
/*------------------------------------------*/
.Section1Title {
    font-size: 2.5rem;
    font-weight: bolder;
    color: lightgray;
    text-shadow: 1px 1px 3px #000000;
    text-align: left; 
    padding-left: 1.3rem; 
  }
/*------------------------------------------*/
.Section1Title::first-letter {
    font-size: 130%;
    color: blue;
}
/*------------------------------------------*/
.Section1Paragraph {
  margin: 10px 20px 0px 40px;
  font-size: 1.1rem;
}
/* Section-1 END ^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/*-----------------------------------------
The .Section2 properites
------------------------------------------*/
.Section2 {
    background: var(--Section2_background-color);
    width: 100%;
    height: 60%;
    position: relative;
    color: var(--Section2-font-color);
    top: 60px; /*<---ADD to adjust the top position*/
    /*overflow: auto;*/
  }
/*------------------------------------------*/
.Section2Title {
  font-size: 2.5rem;
  font-weight: 600;
  color: blue;
  text-shadow: 1px 1px 2px #000000;
  text-align: left; 
  padding-left: 1.6rem; 
}
/*------------------------------------------*/
.Section2Title::first-letter {
  font-size: 130%;
}
/*------------------------------------------*/
.Section2Paragraph {
    margin: 0px 20px 0px 65px;
    font-size: .9rem;
    font-weight: 600;
  }
/*------------------------------------------*/
.Section2Paragraph ul {
    list-style-type: none;
    margin: 5px 0px 5px 10px;
    font-size: .9rem;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    text-decoration: none;
    border-bottom: 1px #333 dotted;
/*    column-rule: dotted 1px #333;*/

  }
/*------------------------------------------*/
.Section2Paragraph ul li:before { 
    font-family: var(--CalloutIconFontFamily);
    font-weight: 600;
    content: var(--CalloutIconCheck); /*checkbox*/ 
    margin-left: 0px; 
    margin-right: 0px;
    padding: 0px 0px 0px 10px; 
  } 
/*------------------------------------------*/  
  .Section2Paragraph a {
    color: black;
    font-size: .85rem;
    font-weight: 600;
    text-decoration: none;
    margin: 8px 0;
    padding: 2px;
}
/*------------------------------------------*/
.Section2Paragraph ul a:hover,
.Section2Paragraph ul a:active {
    color: var(--Section2Paragraph_hover-color);
    font-size: 95%;
  }  
/* Section2 END ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/*-----------------------------------------
The .Footer properites
------------------------------------------*/
.Footer {
    background: var(--Footer_background-color);
    /*top: 0px;  /*Removed in place of the bottom property*/
    max-width: var(--GlobalMaxWidth);
    margin: auto;
    width: 100%;
    border-top: 0px solid darkgray;
    bottom: 0;
    position: fixed;
    z-index: 99;
  } 
/*------------------------------------------*/
.FooterNavList {
    list-style: none;
    margin: 20px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/*------------------------------------------*/
.FooterNavListItem a {
    color: black;
    font-weight: bold;
    font-size: var(--FooterListFontSize);
    text-decoration: none;
    margin: 8px 0;
    padding: 12px;
}
/*------------------------------------------*/
.FooterNavListItem a:hover,
.FooterNavListItem a:active {
  color: var(--Footer_hover-color);
    max-width: var(--GlobalMaxWidth);
    margin: auto;
}
/* Footer END ^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

 

/* END CSS */