/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*-----------------------------------------
The @media MAX-width query properties
***** IPAD
/*If Device Width is <= to 770px Then...*/

/*=========================================*/
  @media only screen 
  and (max-width: 770px) 
{
  .Header {
    height: 80px;
    border-bottom: 0PX SOLID #000;
  } 
  .HeaderNavList {
    display: none;
  }
  .MenuWrap {
    display: flex;
  }
  .MenuWrap .Menu > div {
    /*move menu around*/
      justify-content: left; /*was center*/
      padding-left: 180px; /*was deleted*/
      margin-top: -300px; /*was deleted*/
    /*end of move around*/
  }
  .MenuWrap .Menu > div > div > ul > li > a {
    font-size: 1rem;
    font-weight: 600;
    color: inherit;
    padding: 0px;
  }
  .BtnCTA a {
    background: blue;
    padding: 7px 20px 7px 20px;
    padding-left: 200px;
    border-radius: 1px;
  } 
  .BoxMenu {
    padding: 0px;
    /*background-color: pink;*/
  } 
  .Logo {
    padding-left: 2.8rem;
  }
  .Section1 {
    /* background-color: purple;*/
    border: 1px solid blue;
    height: 30%;    
    top: 80px;
  }  
  .Section1Title {
    font-size: 240%;
    padding: 5px 0px 0px 0px;
    text-align: center;
  }
  .Section1Paragraph {
    font-size: 110%;
    margin: 10px 5px 0px 20px;
  }
  .Section2 {
    top: 80px;
    height: 70%; 
    /*background-color: aquamarine;*/
  }  
  .Section2Title {
    font-size: 220%;
    text-shadow: 1px 1px 1px #000000;
    padding: 5px 10px 0px 22px;
    text-align: center;
  }  
  .Section2Paragraph .OrderedList {
    font-size: 120%;
    margin-left: -60px;
  }    
  .Section2Paragraph ol {
    font-size: 100%;
    margin-left: 40px;
  }
  .Section2Paragraph ul {
    font-size: 135%;
    margin: 5px 0px 10px -60px;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;  
  }
  .Section2Paragraph li {
    font-size: 75%;
    padding-top: 2px;
  }
  .Section2Paragraph a {
    font-size: 110%;
    font-weight: 600;
    margin: 0px 0px;
    padding: 0px;
  }
  .Section2Paragraph ul a:hover,
  .Section2Paragraph ul a:active {
    font-size: 110%;
  } 
  .Footer {
    display: none;
  }
}
    